{% extends 'base.html' %}

{% block content %}
<div class="container">
   
    <div class="row">
    {% for product in all_products %}
    
       
            <div class="col-md-3 my-3">
                <div class="card w-75 d-inline-block" style="width:50px; max-height: 40px;">
                    <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap" height="200px"  >
                    <div class="card-body">
                        <h6 class="card-title" >{{ product.name }}</h6>
                         
                        <h7 class="card-title">Price ${{ product.price }}</h7>
                        <div class="mt-3 d-flex justify-content-between">
                            <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                                {% csrf_token %}
                                {{ form }}
                                <input type="submit" value="Add to cart" class="btn btn-primary" >
                            </form>
                             
                            <a href="{% url 'checkout' %}" class="btn btn-dark">Purchase</a>
                             
                        </div>
                    </div>
                </div>
            </div>
       
        {% endfor %}
    </div>
    </div>
{% endblock %}
